* {
  box-sizing: border-box;
}

html {
  min-height: 100%
}

body {
  height: 100%;
}

html, body {
  background: #9D50BB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height:2.8rem;
  color: #ecf0f1;
  position: relative;
}

header {
  padding-left: 30px;
  font-size: 18px;
  background-color: #333333;
  height: 85vh;
  text-align: left;
}

nav {
  background-color: #333333;
}

.colored1 {
  color: #fc5c65;
}

.colored2 {
  color: #a55eea;
}

.colored3 {
  color: #fed330;
}

.colored4 {
  color: #26de81;
}

.bigAmp {
  font-size: 60px;
}

section img {
  width: 100%;
  max-width: 500px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

nav ul {
  background-color: #2c3e50;
  color: #2c3e50;
  margin: 0 auto;
}

li {
  font-size: 20px;
  display: inline-block;
}

h1 {
  margin: 0;
  line-height: 1.5em;
}

.portfolio {
  text-align: center;
  line-height: 1rem;
}

.subtitles {
  font-size: 26px;
  padding: 10px;
  margin-bottom: 10px;
}

.header-button {
  font-size:26px;
  font-weight: bold;
  border: 1px solid transparent;
  background-color: #45aaf2;
  color: white;
  margin-top:25px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  scroll-behavior: smooth;
}

.header-button:hover {
  background-color: #0984e3;
}

.card {
  max-width: 500px;
  background-color: #ecf0f1;
  width: 80%;
  margin: 0 auto;
  color: #1e272e;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card ul {
  padding-bottom: 5px;
}

.demo, .view-code {
  border: 1px solid transparent;
  color: #ecf0f1;
  font-size: 22px;
  padding: 12px 22px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.demo {
  background-color: #26de81;
  margin-right: 5px;
}

.demo:hover, .demo:active {
  background-color: #27ae60;
}

.view-code {
  background-color: #fc5c65;
  margin-left: 5px;
}

.view-code:hover .view-code:active {
  background-color: #c0392b;
}

h2 {
  font-size: 32px;
}

.about {
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 10px;
  line-height: 1.5rem;
  text-align: center;
}

.about p {
  font-size: 19px;
  width: 95%;
  text-align: left;
  margin: 8px 0;
  padding-left: 8%;
}

.fab, .fas {
  font-size: 24px;
  padding-top:20px;

}
.fa-github, .fa-linkedin {
    margin-right: 25px;
}
.icons {
  text-align: center;
  padding-bottom: 50px;
}

.fab:hover, .fas:hover {
  color: #FFFFFF;
}

nav a{
  color: white;
  text-decoration: none;
}

footer {
  font-size: 12px;
  background-color: #333333;
  text-align: center;
}

.p-group {
  background-color: #333333;
  -webkit-box-shadow: inset 0px 0px 18px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 18px 2px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 18px 2px rgba(0,0,0,0.75);
}

.mobile-show {
  display: static;
}

@media (min-width:641px)  {
  .icons {
    text-align: right;
    padding-right: 100px;
  }

  .fab, .fas {
    font-size: 32px;
  }

  header {
    padding-left: 80px;
  }

  .hide {
    display: none;
  }

  .bigAmp {
    font-size: inherit;
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0 30px 0;
  }

  .portfolio > h2 {
    flex: 0 0 100%;
  }

  .card {
    width: 30%;
  }

  .about p {
    font-size: 20px;
    line-height: 1.5em;
    width: 50%;
    margin-left: 22%;

  }

  .about {
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-size: 4em;
  }

  header {
    height: 90vh;
  }

  .header-button {
    font-size: 2em;

  }

  .extraroom {
    margin-bottom: 10px;
  }


}
